* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: white;
}

/* NAVBAR */
.navbar {
    background: linear-gradient(to right, #1f2a38, #2c3e50);
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    font-size: 20px;
    font-weight: bold;
}

.nav-right a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}

.nav-right a:hover {
    color: #00d9ff;
}

/* BLACK WORD COUNTER BAR */
.counter-wrapper {
    background: black;
    padding: 25px;
    text-align: center;
    color: white;
}

/* TITLE */
.counter-wrapper h2 {
    margin-bottom: 15px;
    font-size: 24px;
}

/* INPUT INSIDE BLACK BAR */
textarea {
    width: 100%;
    height: 60px;
    background: #5a5555;
    border: 1px solid #aaa;
    border-radius: 6px;
    padding: 12px;
    color: white;
    font-size: 16px;
    resize: none;
    outline: none;
}

textarea::placeholder {
    color: #ddd;
}

/* WORD COUNT */
.count-text {
    margin-top: 12px;
    font-size: 20px;
}